ablog
colorspacious
ipywidgets
makeitpop
matplotlib
myst-nb>=0.12.0
myst-parser>=0.13.5
numpy
pandas
pydata-sphinx-theme>=0.4.3
scipy
seaborn
sphinx
sphinx-panels
sphinxcontrib-bibtex<2.0.0
sphinxext-opengraph
sphinx-comments
